<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Console Target -->
		<target xsi:type="Console" name="consoleTarget" layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=ToString}" />

		<!-- Define the database target -->
		<target xsi:type="Database" name="databaseTarget" connectionString="%ProjectMasterDb%">
			<commandText>
				INSERT INTO ErrorLogs (Logged, Level, Message, Logger, Exception)
				VALUES (@logged, @level, @message, @logger, @exception)
			</commandText>
			<parameter name="@logged" layout="${longdate}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@exception" layout="${exception:format=ToString}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Warn" writeTo="consoleTarget,databaseTarget" />
		<logger name="HeroscapeBuilder.*" minlevel="Debug" writeTo="consoleTarget,databaseTarget" />		
	</rules>
</nlog>
