@import '../../assets/scss/paper-dashboard/_variables.scss';

.tooltip.show {
    opacity: 1;
    .tooltip-inner{
        img{
            padding: 15px;
        }
    }
}

label {
    .q {
        margin-left: 15px;
        color: $primary-color;
        font-size: 0.7em;
    }
}

.main-panel input{
    text-align: left !important;
}

#abilitiesContainer {
    input {
        height: 100%;
    }

    textarea {
        padding: 10px;
        line-height: normal;
        min-height: 125px;
    }
}

.invalid-feedback{
    display: block;
}